@tailwind base;
@tailwind components;
@tailwind utilities;

.aui-avatar .custom-presence-indicator {
    /* position the indicator. AUI Avatars are a relative container. */
    position: absolute;
    bottom: 0;
    right: 1.5rem;
    /* size the indicator appropriately. content should not appear outside the indicator. */
    width: 30px;
    height: 30px;
    overflow: hidden;
    /* style the indicator. */
    color: #00875A;
    border: 3px solid #fff;
    border-radius: 100%;
    fill: #00875A;
}